<section >
    <div class="flex flex-col items-center justify-center m-8 lg:py-0">
<div class="w-full m-8 bg-white rounded-lg shadow sm:max-w-md p-0">
    <div class="p-4 space-y-2">
      <h1 class="text-lg font-bold leading-tight text-gray-900 mb-4">Edit student mark</h1>
      <form class="space-y-2"
      [formGroup]="myForm" action="#">
        <div class="mb-2">
          <input
            type="text"
            name="cne"
            id="cne"
            [(ngModel)]="note"
            
            formControlName="note"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 w-full p-2"
            required
          />
        </div>
        <div *ngIf="myForm.controls['note'].invalid && (myForm.controls['note'].dirty || myForm.controls['note'].touched)" class="text-red-500 text-xs mt-1">

        <div *ngIf="myForm.hasError('required', ['note'])" class="text-red-500 text-xs mt-1">
          CNE is required.
        </div>
      </div>

        <button
        [disabled]="!myForm.valid"
        (click)="editNote()"
        class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-3 py-2"
        >
          Submit
        </button>
      </form>
    </div>
  </div></div></section>